.cro__readmore {

    > :first-child {
        overflow: hidden;
        word-break: break-word;
        word-wrap: break-word;
        position: relative;
    }

    .cro__readmore-transparent:after {
            position: absolute;
            bottom: 0;
            height: 100%;
            width: 100%;
            content: "";
            background: linear-gradient(to top,
                rgba(255,255,255, 1) 20%,
                rgba(255,255,255, 0) 80%
            );
            pointer-events: none; /* so the text is still selectable */
    }

    .cro__readmore__btn-overflow {
        display: none;
        cursor: pointer;

        i {
            font-size: 2rem;
        }
    }
}
