.cro__auto-adjust__gallery {

    a {
        text-decoration: none;
    }
    .overlay__track {
        .overlay__text {
            text-transform: uppercase;
            font-size: 1.2rem;
        }
    }
}
