.cro__button, .cro__button:visited, .cro__button:active {
    color: $buttonTextColor;
    text-decoration: none;
    text-align: center;
    background-color: $buttonBackgroundColor;
    border: none;
    display: inline-block;
    font-size: 0.8rem;
    line-height: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    font-family: $fontFamily;

    &:hover:not(.loading__spinner) {
        background-color: $buttonBackgroundColor;
        border-color: $buttonBorderColor;
        color: $buttonTextColorHover;
        text-decoration: none;
    }

    &.cro__button--basic {
        padding: $basicButtonInternalPadding;
    }

    &.cro__button--small {
        padding: $smallButtonInternalPadding;
    }

    span.cro__button__icon-and-text {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
