.img__upload_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

    @media (--no-mobileDevice) {
        grid-template-columns: 1fr 2fr;
    }

    i {
        font-size: 2rem;
    }
}

.img__upload_select_zone {

    .img__upload-select_form {
        text-align: center;

        @media (--no-mobileDevice) {
            text-align: left;
        }
    }

    .img__upload-dropzone {
        height: 20rem;
        padding: 2rem;
        border: 1px dotted grey;
        display: none;

        &.dragging {
            background-color: rgba(0, 0, 0, 0.5);
        }

        @media (--no-mobileDevice) {
            display: inherit;
        }

        .img__upload-dropzone-text {
            top: 50%;
            position: relative;
            padding: 0;
            margin: 0;
            text-align: center;
        }
    }
}

.img__upload_thumbnail_zone {
    @media (--no-mobileDevice) {
        margin-left: 30px;
    }

    .img__upload_thumb-text {
        margin-bottom: 2.2rem;
    }

    .img__upload__thumbs__container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        grid-auto-flow: dense;
        list-style: none;
        grid-gap: 30px;

        object-fit: cover;
        text-align: center;
        padding: 0;

        .img__upload__thumb-wrap {
            margin: auto;

            img {
                max-width: 225px;
                height: 150px;
            }

            .img__upload__thumb__buttons-wrap {
                height: 30px;

                span {
                    cursor: pointer;
                }

                .img__upload__thumb-left__btn {
                    float: left;
                }

                .img__upload__thumb-center__btn {
                    opacity: 0.3;

                    &:hover, &.active {
                        opacity: 1;
                    }
                }

                .img__upload__thumb-right__btn {
                    float: right;
                }

                .img__upload__confirm-btn {
                    padding: 5px;

                    background: #fff;
                    border: 1px solid #ccc;
                }
            }

            .upload-error {
                color: red;
            }

            .img__upload__progress-bar_container {
                width: 100%;

                .img__upload_progress-bar {
                    width: 0%;
                    height: 10px;
                    background-color: $corporateColor;
                }

                .img__upload_percentage-number {
                    height: 20px;
                }
            }
        }
    }
}




