.cro__vertical__gallery {
    display: grid;
    grid-gap: $croVG_gridGap;

    grid-template-columns: repeat(2, 1fr);

    .gallery__box {
        grid-column: span 2;
        margin: 0;
        padding: 0;
        overflow: hidden;

        &.small {
            grid-column: span 1;
        }


        .image__track{
            overflow: hidden;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }


    }
}
